# Core requirements
Django>=4.2.0
djangorestframework>=3.14.0
django-cors-headers>=4.1.0
django-filter>=23.2
django-allauth>=0.54.0
drf-yasg>=1.21.0
channels>=4.0.0

# Database and caching
psycopg2-binary>=2.9.6
django-redis>=5.3.0

# Authentication and security
django-rest-auth>=0.9.5
djangorestframework-simplejwt>=5.2.2
django-phonenumber-field>=7.1.0
phonenumbers>=8.13.11
python-dotenv>=1.0.0
pyotp>=2.8.0  # للمصادقة الثنائية
django-user-sessions>=2.0.0  # لتتبع الجلسات
django-axes>=6.0.0  # لحماية تسجيل الدخول

# File handling and media
Pillow>=11.1.0
python-magic>=0.4.27

# متطلبات نظام الباركود والبطاقات التعريفية
qrcode==7.4.2
python-barcode==0.15.1

# Development tools
black>=23.3.0
flake8>=6.0.0
pytest>=7.3.1
pytest-django>=4.5.2
factory-boy>=3.2.1
coverage>=7.2.7

# Documentation
sphinx>=7.0.1
sphinx-rtd-theme>=1.2.0

# Email handling
django-templated-email>=3.0.0
